* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header ul {
    display: flex;
    list-style: none;

}

header ul li {
    width: 150px;
}

header ul li a {
    color :white;
}

#article {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

#article img {
    width: 300px;
}

#article div {
    width:40%;
}

#article ul {
    width: 30%;
    background-color: gray;
    list-style: none;
    padding: 10px;
}

footer {
    background-color: black;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
}



